{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <title>Blog about</title>
</head>
<body>
    <header class="header-reviews">
        <nav class="nav-reviews">
            <!-- 1. Бургер -->
            <button class="nav-reviews__toggle" aria-label="Открыть меню">☰</button>

            <div class="nav-reviews__logo-block">
                <a href="{% url 'home' %}">
                    <img src="/static/images/Lovi Moment logo-1.png" alt="Логотип" class="nav-tour__logo">
                </a>
            </div>

            <!-- 2. Само меню -->
            <div class="nav-reviews__menu" id="reviewsMenu">
                <ul class="nav-reviews__list">
                <li><a href="{% url 'about_us' %}">О нас</a></li>
                <li class="nav-tour__item nav-tour__dropdown">
                        <a href="{% url 'tour' %}" class="nav-tour__link">Туры</a>
                        <ul class="nav-tour__submenu">
                            <li><a href="{% url 'tour' %}">Кыргызстан</a></li>
                            <li><a href="{% url 'kz' %}">Казахстан</a></li>
                            <li><a href="{% url 'uz' %}">Узбекистан</a></li>
                        </ul>
                    </li>
                <li><a href="{% url 'gallery' %}">Галерея</a></li>
                <li><a href="{% url 'blog' %}">Блог</a></li>
                <li><a href="{% url 'partners' %}">Партнёрам</a></li>
                </ul>
            </div>

            <div class="nav-reviews__action">
                <button class="nav-reviews__btn">
                Записаться на тур!
                </button>
                <span class="nav-reviews__lang">En</span>
            </div>
        </nav>
        <div class="post-detail__header">
                <button class="post-detail__back">
                    <a href="{% url 'home' %}">
                        <img src="/static/images/bgblarr.png" alt="Назад">
                    </a>
                </button>
                <nav class="post-detail__breadcrumbs">
                    <a href="{% url 'home' %}">Главная</a>
                    <img
                        src="{% static 'images/lilblarr.png' %}"
                        alt="›"
                        class="breadcrumbs__sep"
                    >
                    <a href="{% url 'blog' %}">Блог</a>
                    <img
                        src="{% static 'images/lilblarr.png' %}"
                        alt="›"
                        class="breadcrumbs__sep"
                    >
                    <span>5 главных национальных праздников Кыргызстана</span>
                </nav>

            </div>
    </header>
     <section class="post-detail">
            <!-- Навигация «Назад» + хлебные крошки -->
            

            <!-- Заголовок поста -->
            <h1 class="post-detail__title">5 главных национальных праздников Кыргызстана</h1>

            <!-- Дата + автор -->
            <!-- <div class="post-detail__info">
                <time class="post-detail__date">1 января 2024</time>
                <div class="post-detail__author">
                    <img src="/static/images/profile.jpg" alt="Автор" class="post-detail__avatar">
                    <div class="post-detail__author-meta">
                        <div class="post-detail__author-label">Автор</div>
                        <div class="post-detail__author-name">User Name</div>
                    </div>
                </div>
            </div> -->

            <!-- Картинка-баннер -->
            <div class="post-detail__image">
                <img src="/static/images/krpr1.webp" alt="Элечек">
            </div>

            <!-- Текст статьи -->
            <div class="post-detail__content">
                <h3>
                    5 главных национальных праздников Кыргызстана, которые стоит увидеть своими глазами
                </h3>
                <h4>📌🌸 Нооруз  праздник весны, новой жизни и кыргызского духа</h4>
                <p>
                    Когда солнце впервые по-настоящему начинает согревать землю, а горы ещё носят снежные шапки, в Кыргызстане наступает особый день Нооруз. Это не просто праздник весны. Это момент обновления, мира, благодарности и связи с природой. Для кыргызов Нооруз день, когда всё начинается заново.
                </p>
                <h4>
                    📅 Когда празднуется?
                </h4>
                <p>
                    <b>21 марта</b> день весеннего равноденствия, когда день и ночь равны. Это символ баланса, гармонии и начала нового года по древнему солнечному календарю.    
                </p>
                <h4>
                    🏔 Откуда пришёл праздник?
                </h4>
                <div class="post-detail__image">
                    <img src="/static/images/praz1.jpg" alt="Элечек">
                </div>
                <p>
                    Слово <b>“Нооруз”</b> происходит из персидского и означает “новый день”. Этому празднику более 3 тысяч лет, и он отмечается во многих странах Центральной Азии и Ближнего Востока. Но у кыргызов он имеет особое национальное звучание наполненное кочевыми традициями, природной эстетикой и особой философией.

                </p>
                <h4>🎉 Как празднуют Нооруз в Кыргызстане?</h4>
                <p>
                    С приходом Нооруза улицы городов и сёл преображаются. Люди надевают национальные костюмы, готовят угощения, устраивают народные гуляния. Главная идея — <b>очищение от старого</b>, прощение, радость, благословение нового года.
                    <br>
                    <br>
                    Что обязательно происходит: <br> <br>
                    <b>Приготовление сумолока</b> густого, сладковатого блюда из пророщенной пшеницы. Его варят всю ночь в большом казане, помешивая деревянными ложками и бросая в него камешки “на счастье”. <br>
                    <b>Национальные игры:</b> <br>
                    Көк-бөрү конные соревнования с тушей козла (захватывающее зрелище!). <br>
                    Алыш, таш ташмай старинные игры на ловкость и силу. <br>

                    <b>Танцы, музыка, поэзия</b> выступают манасчи, играют на комузе, поют народные песни.
                    <br> <b>Украшение юрт</b> на улицах появляются нарядные юрты, где туристов угощают традиционной едой.

                </p>
                <h4>
                    🍲 Что едят на Нооруз?
                </h4>
                <p>
                   <b>Сумолок</b>  главный символ праздника, олицетворяющий жизнь и плодородие <br> <br>
                    <b>Боорсоки, орук, плов, кумыс, айран</b> праздничный дастархан изобилен и всегда открыт для гостей.
                    <br> <br>
                    Туристы часто бывают приятно удивлены, насколько кыргызская еда душевная и вкусная — особенно когда её готовят бабушки в аулах.
                    <br> <br>
                </p>
                <h4>
                    🌱 Символизм праздника
                </h4>
                <p>
                    Нооруз это не просто начало календарного года. Это обновление<b>тела и духа. </b> 
                    <br>В этот день принято: <br>
                    -Прощать обиды. <br>
                    -Наводить порядок в доме и душе. <br>
                    -Начинать с «чистого листа».

                </p>
                <h4>
                    📍 Где лучше всего почувствовать атмосферу?

                </h4>
                <div class="post-detail__image">
                    <img src="/static/images/praz2.jpg" alt="Элечек">
                </div>
                <p>
                    	•	<b>Площадь Ала-Тоо</b> в Бишкеке здесь проходят большие концерты, народные ярмарки, реконструкции обрядов. <br>
                        •	<b>Ош, Талас, Нарын</b>  города, где традиции сохраняются особенно ярко. <br>
                        •	<b>Юрточные лагеря</b>  например, в Чон-Кемине или у озера Сон-Куль, где можно отпраздновать Нооруз как настоящий кочевник.
                </p>
                <h4>
                    📸 Нооруз праздник, который стоит увидеть
                </h4>
                <p>
                    Для туриста Нооруз это шанс <b>погрузиться в живую культуру</b>, попробовать уникальную еду, послушать эпосы и увидеть кыргызский дух в действии. Это не просто “тур”, это опыт, который остаётся в сердце.
                </p>
                <h4>
                    🧭 Если вы в Кыргызстане в марте не пропустите Нооруз!
                </h4>
                <p>
                    Приедьте. Посмотрите. Почувствуйте. Кыргызстан откроется для вас с самой тёплой и душевной стороны именно в этот день.
                </p>

                <h3>
                    📌 🌙 Орозо айт  день духовной чистоты и радости в Кыргызстане
                </h3>

                <p>
                    Когда в небе появляется тонкий серп новой луны, символизируя завершение священного месяца Рамадан, в Кыргызстане наступает один из самых уважаемых религиозных праздников Орозо айт. Это день благодарности, доброты и искренних молитв. Для кыргызского народа он наполнен теплом семейных традиций, угощениями и особым уважением к вере и духовности.
                </p>
                <h4>
                    📅 Когда празднуется?
                </h4>
                <p>
                    Дата Орозо айта меняется каждый год, поскольку она зависит от<b> лунного календаря</b>. Праздник наступает <b>на следующий день после окончания Рамадана</b> месяца поста и молитвы у мусульман.
                </p>
                <h4>
                    🕌 Что такое Орозо айт?
                </h4>
                <div class="post-detail__image">
                    <img src="/static/images/praz3.jpg" alt="Элечек">
                </div>
                <p>
                    “Орозо айт” переводится как <b>“праздник разговения”</b>. Это торжественный день, когда мусульмане завершают пост (ооз ачуу) и встречают праздник с чистым сердцем и светлой душой.
                    <br> <br>
                    Он включает в себя: <br>
	•	благодарность Аллаху за силу и терпение во время поста;<br>
	•	прощение, добрые дела, милостыню; <br>
	•	общение с семьёй, друзьями и соседями. <br>

                </p>
                <h4>
                    🌞 Как празднуют Орозо айт в Кыргызстане?
                </h4>
                <p>
                <b>Рано утром:</b> <br>
                    •	Верующие совершают<b> айта намаз</b> праздничный намаз в мечетях и на открытых площадках. <br>
                    •	До молитвы совершается омовение, надевается чистая и праздничная одежда. <br> <br>
                    <b>После намаза:</b> <br>
                    •	Принято <b>наведывать родственников</b>, особенно старших: просить благословения, выражать уважение. <br>
                    •	Люди <b>угощают соседей</b>, делятся едой, приглашают гостей никто не должен остаться голодным. <br>
                    •	Принято <b>делать садака</b> пожертвование бедным, сиротам, нуждающимся. <br>
                    <br> <br>

                    <b>Праздничный дастархан:</b> <br>  
	•	Стол ломится от традиционных блюд: плов, боорсоки, самса, лапша, чак-чак, сладости, айран и чай. <br>
	•	Особое внимание уделяется угощению гостей праздник должен быть щедрым. <br>

                </p>
                <h4>
                    🌍 Почему это важно для туриста?
                </h4>
                <p>
                      Орозо айт не просто религиозный праздник, а возможность увидеть кыргызскую культуру изнутри. Турист, оказавшийся в Кыргызстане в этот день, может:
                    •	поучаствовать в праздничных обрядах (в открытых парках часто проходят общие молитвы, ярмарки, концерты); <br>
                    •	попробовать блюда, которые готовят только в такие дни; <br>
                    •	увидеть, как работают древние традиции уважения и гостеприимства;<br>
                    •	почувствовать душевную теплоту и единство народа.
                </p>
                <h4>
                    💡 Что важно знать туристу?
                </h4>
                <p>
                    •	Во время Рамадана и Орозо айта важно с уважением относиться к постящимся: стараться не есть и не пить на виду у других до вечера. <br>
                    •	В день Орозо айта мечети могут быть переполнены это прекрасная возможность наблюдать массовую молитву, но вести себя нужно тихо и уважительно. <br>
                    •	Лучше не планировать деловые или шумные мероприятия в этот день,это время уединения, семьи и духовности. <br>
                </p>
                <h4>
                    🌙 Орозо айт это прощение, доброта и начало с чистого листа

                </h4>
                <p>
                    В Кыргызстане этот день напоминает о вечных человеческих ценностях: уважении к ближнему, умении делиться, быть благодарным. И даже если вы турист, оказавшийся здесь впервые, вы почувствуете: Орозо айт касается каждого сердца, независимо от национальности и вероисповедания.

                </p>
                <h3>
                    📌🕊 Курман айт  праздник жертвенности, добра и сплочённости в Кыргызстане
                </h3>
                <p>
                    Каждый год, спустя примерно 70 дней после Орозо Айта, мусульмане Кыргызстана встречают ещё один великий праздник Курман айт. Это день, когда духовные ценности выходят на первый план, а в воздухе витает атмосфера заботы, уважения и благотворительности.

                </p>
                <h4>
                    📅 Когда празднуется?
                </h4>
                <div class="post-detail__image">
                    <img src="/static/images/praz4.jpg" alt="Элечек">
                </div>
                <p>
                    Дата Курман Айта (на арабском Ид аль-Адха) меняется ежегодно, так как определяется по лунному календарю. Он приходится на 10-й день месяца Зуль-хиджа, последнего месяца исламского года в дни, когда миллионы мусульман совершают хадж (паломничество) в Мекку.

                </p>
                <h4>
                    🕋 Что означает Курман айт?
                </h4>
                <p>
                    Название “Курман айт” на кыргызском означает “Праздник жертвоприношения”. Он уходит корнями в исламскую историю когда пророк Ибрагим (Авраам) был готов пожертвовать своим сыном в знак верности Аллаху. Но в момент жертвы Бог заменил сына на барашка.
                    <br> <br>
                    С тех пор мусульмане всего мира совершают обряда курмандык жертвоприношение животного (чаще всего барана или быка) в знак преданности, щедрости и благодарности.

                </p>
                <h4>
                    📍 Как отмечают Курман айт в Кыргызстане?
                </h4>
                <h4>
                    🌄 Раннее утро:
                </h4>
                <p>
                    	•	Верующие совершают праздничный намаз айта намаз в мечетях и на открытых площадках. <br>
	                    •	После молитвы начинается главное событие жертвоприношение. <br>
                </p>
                <h4>
                    🐑 Курмандык жертвоприношение:
                </h4>
                <p>
                    •	Животное (обычно баран или корова) закалывается по исламским правилам. <br>
                    •	Мясо делят на три части: <br>
                    •	одна семье; <br>
                    •	вторая  родственникам, друзьям; <br>
                    •	третья нуждающимся, бедным и одиноким. <br> 
                    •	Этот акт символизирует милосердие, помощь ближнему и социальную справедливость.

                </p>
                <h4>
                    🏡 Семейные традиции:
                </h4>
                <p>
                    	•	Люди наряжаются, идут в гости к родственникам и соседям. <br>
                        •	Обязательно чтят память ушедших, посещают могилы близких. <br>
                        •	За столом говорят добрые слова, благодарят, прощают обиды, делятся новостями. <br>

                </p>
                <h4>
                    🍽 Что едят на Курман айт?
                </h4>
                <div class="post-detail__image">
                    <img src="/static/images/praz5.jpg" alt="Элечек">
                </div>
                <p>
                    •	Плов, сумолок, мясо курмандыка, боорсоки, чак-чак, айран, чай. <br>
                    •	Стол обязательно накрывается с щедростью и любовью. <br>
                    •	Гостей угощают с радостью никто не уходит голодным. <br>

                </p>
                <h4>
                    🌍 Почему Курман айт интересен туристу?
                </h4>
                <p>
                    Курман айт это шанс: <br>
                    •	увидеть живую исламскую традицию в мягком, доброжелательном исполнении; <br>
                    •	попробовать настоящее кыргызское гостеприимство; <br>
                    •	поучаствовать (или наблюдать) жертвоприношение с объяснением смысла, что для многих уникальный культурный опыт;<br>
                    •	понять, как религия и культура сплетаются в быте кыргызов.
                </p>
                <h4>
                    💡 Полезно знать туристу
                </h4>
                <p>
                    •	Во время праздника важно проявлять уважение к традициям не фотографировать обряд без разрешения, не шутить по поводу еды и религии. <br>
                    •	Лучше избегать деловых встреч или шумных мероприятий в этот день он считается семейным, благословенным. <br>
                    •	Если вас пригласили в дом это большая честь. Примите угощение, улыбнитесь, поблагодарите. <br>

                </p>
                <h4>
                    🐑 Курман айт  не просто религиозный обряд, а день единения и великой доброты
                </h4>
                <p>
                    В Кыргызстане Курман айт это не про строгость, а про душевность. Здесь он отмечается с уважением, но и с теплом. Если вы приедете сюда в эти дни вы увидите не просто праздник, а ценности, которые объединяют людей во всех культурах: любовь, щедрость, уважение к жизни
                </p>
                <h3>
                    📌 🎉 День независимости Кыргызстана праздник свободы, гордости и национального духа
                </h3>
                <p>
                    31 августа улицы кыргызских городов наполняются флагами, музыкой, концертами и атмосферой единства. Это День независимости Кыргызской Республики главный государственный праздник страны. Он отмечает не только историческую дату, но и национальное самосознание, гордость за прошлое и надежду на будущее.
                </p>
                <h4>
                    📅 История праздника
                </h4>
                <div class="post-detail__image">
                    <img src="/static/images/praz6.jpg" alt="Элечек">
                </div>
                <p>
                    Кыргызстан обрёл независимость 31 августа 1991 года, после распада Советского Союза. Это стало поворотным моментом: началась новая глава суверенного, самостоятельного государства. С тех пор этот день отмечается как символ свободы, независимости, национальной идентичности и достоинства.
                </p>
                <h4>
                    📍 Как проходит праздник? <br> <br>
                    🏛 В столице Бишкек:
                </h4>
                <p>
                    •	Утром на площади Ала-Тоо проходят торжественные мероприятия: <br>
                    •	официальная часть с речами президента и государственных деятелей; <br>
                    •	военный парад или показательные выступления, включая выступления вооружённых сил и сотрудников МЧС; <br>
                    •	праздничный концерт с участием звёзд кыргызской эстрады и народных коллективов. <br>
                    •	Вечером большой праздничный салют, который можно увидеть из разных районов города.

                </p>
                <h4>
                    🏞 В регионах:
                </h4>
                <p>
                    •	Народные гуляния, ярмарки, национальные игры, кулинарные фестивали. <br>
	                •	Скачки, көк-бөрү, традиционные соревнования, выставки ремесленников.

                </p>
                <h4>
                    🇰🇬 Символика и национальный колорит
                </h4>
                <p>
                    	•	В этот день повсюду развеваются красные флаги с солнечным кругом и түндүк символом юрты и семьи. <br>
                        •	Люди надевают национальную одежду, украшают дома, угощают гостей. <br>
                        •	Во всех уголках страны чувствуется настоящая национальная гордость.

                </p>
                <h4>
                    🎶 Что может увидеть турист?
                </h4>
                <p> 
                    <b>День независимости одно из лучших времён для посещения Кыргызстана. Почему?</b> <br>
                    •	Вы увидите традиции и современность в одном дне: фольклорные песни и диджей-сеты, плов и фастфуд, скачки и фейерверки. <br>
                    •	Площадь Ала-Тоо в Бишкеке превращается в живую сцену: танцы, яркие костюмы, комуз, эпосы, лазерные шоу. <br>
                    •	Можно поучаствовать в мастер-классах, купить национальные сувениры, попробовать блюда от местных поваров.

                </p>
                <h4>
                    💡 Полезно знать туристу

                </h4>
                <p>
                    •	Центральные улицы города перекрываются, поэтому лучше передвигаться пешком или заранее планировать маршрут. <br>
                    •	Рестораны, кафе и ярмарки работают допоздна многие предлагают специальные праздничные меню. <br>
                    •	Безопасность на высшем уровне: на площади и улицах дежурят полицейские и волонтёры. <br>
                    •	Не упустите шанс посмотреть фейерверк он особенно красив на фоне гор и исторических зданий.

                </p>
                <h4>
                    ✨ День, когда звучит сердце Кыргызстана
                </h4>
                <p>
                    День независимости это не только историческая дата. Это отражение характера кыргызского народа: свободолюбивого, гордого за своё наследие и устремлённого в будущее. Этот день стоит того, чтобы оказаться в Кыргызстане почувствовать энергию улиц, вкус национальной кухни и силу духа народа, который ценит свою независимость.

                </p>
                <h3>
                    📌🦅 День эпоса Манас — торжество кыргызской души
                </h3>
                <h4>📅 Когда отмечается: 4 сентября</h4>
                <h4>📖 Что такое эпос “Манас”?</h4>
                <p>
                    
“Манас” величайший героический эпос кыргызского народа, признанный одним из самых длинных в мире (около 500 000 строк!). Это история о легендарном богатыре Манасе, который объединял кыргызские племена, боролся с врагами и строил справедливое общество.
Эпос передавался устно из поколения в поколение манасчи сказителями, обладающими феноменальной памятью и особым даром.

                </p>
                <h4>
                    🗓 День эпоса Манас
                </h4>
                <p>
                    4 сентября в Кыргызстане отмечается День эпоса Манас праздник, учреждённый для сохранения и популяризации этого уникального культурного наследия.
                </p>
                <h4>
                    🎉 Как празднуется?
                </h4>
                <p>
                    	•	В Бишкеке, Ошe и других городах проходят: <br>
                        •	выступления манасчи (живое исполнение отрывков эпоса); <br>
                        •	концерты, театральные постановки, выставки; <br>
                        •	научные конференции, встречи с учёными, писателями, деятелями культуры. <br>
                        •	Школьники и студенты читают отрывки из эпоса, участвуют в конкурсах. <br>
                        •	В парках, на открытых площадках можно увидеть народные гулянья, национальные игры, ярмарки ремесел.
                </p>
                <h4>
                    🌍 Почему “Манас” это гордость Кыргызстана?
                </h4>
                <p>
                    •	Эпос “Манас” внесён в список нематериального наследия ЮНЕСКО. <br>
	•	Он является символом единства, мужества и духовности. <br>
	•	Манас не просто герой, а национальный архетип, с которым кыргызский народ себя отождествляет.
                </p>
                <h4>
                    👣 Туристу на заметку:
                </h4>

                <p>
                    •	Если вы в Кыргызстане в сентябре обязательно посетите мероприятия, посвящённые “Манасу”. Это уникальный шанс услышать живое искусство устного эпоса. <br>
	                •	В Бишкеке можно посетить Музей Манаса, расположенный в Национальной филармонии, а также памятник Манасу на площади Ала-Тоо. <br>

                </p>
                <h3>
                    🐎 “Манас” — это не просто история. Это голос народа, звучащий сквозь века.
                </h3>
            </div>
        </section>
        <footer class="footer">
            <div class="footer-inner">
                <div class="footer-col logo-col">
                    <img src="{% static 'images/Lovi Moment logo-1.png' %}" alt="Lovi Moment Travel" class="footer-logo" />
                </div>

                <div class="footer-col">
                    <h4>Главная</h4>
                    <ul>
                        <li><a href="{% url 'about_us' %}">О нас</a></li>
                        <li><a href="{% url 'blog' %}">Блог о Кыргызстане</a></li>
                        <li><a href="{% url 'corp_tour' %}">Корпоративные туры</a></li>
                        <li><a href="{% url 'indi_tour' %}">Индивидуальные туры</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                <h4>Туры</h4>
                    <ul>
                        <li><a href="{% url 'tour' %}">Кыргызстан</a></li>
                        <li><a href="{% url 'kz' %}">Казахстан</a></li>
                        <li><a href="{% url 'uz' %}">Узбекистан</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>По другим вопросам</h4>
                    <p>+996 503 904 904 </p>
                    <p>+996 705 904 904 </p>
                    <p>+996 508 904 904 </p>
                    <p>+996 505 904 904 </p>
                    <button class="footer-btn"><a href="{% url 'sign_tour' %}">Записаться на тур! </a></button>
                </div>

                <div class="footer-col address">
                    <h4>Адрес</h4>
                    <p>ул. Калык Акиева 66,<br> ТЦ Весна, 3 этаж  С13А</p>
                    <p><a  class="wattspp" href="https://wa.me/996505904904"><img src="/static/images/free-icon-logo-15713434.png" alt="" style="width: 32px; height: 32px;">996 505 904 904</a></p>

                    <p ><a class="instS" href="https://www.instagram.com/lovimoment_travel/"><img src="" alt=""><img src="/static/images/inst.png" alt="">@lovimoment_travel</a></p>
                </div>
            </div>
        </footer>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const toggle = document.querySelector('.nav-reviews__toggle');
                const menu   = document.getElementById('reviewsMenu');
                const tourItem = document.querySelector('.nav-reviews__dropdown');

                // Открытие/закрытие основного меню
                toggle.addEventListener('click', e => {
                e.stopPropagation();
                menu.classList.toggle('open');
                });

                // Подменю «Туры» кликом (для mobile)
                tourItem.addEventListener('click', e => {
                if (window.innerWidth <= 480) {
                    e.preventDefault();
                    tourItem.classList.toggle('open');
                }
                });

                // Клик вне — закрыть всё
                document.addEventListener('click', e => {
                if (!e.target.closest('.nav-reviews')) {
                    menu.classList.remove('open');
                    tourItem.classList.remove('open');
                }
                });
            });
        </script>

</body>
</html>