{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <title>reviews</title>
</head>
<body>
    <header class="header-reviews">
        <nav class="nav-reviews">
            <!-- 1. Бургер -->
            <button class="nav-reviews__toggle" aria-label="Открыть меню">☰</button>

            <div class="nav-reviews__logo-block">
                <a href="{% url 'home' %}">
                    <img src="/static/images/Lovi Moment logo-1.png" alt="Логотип" class="nav-tour__logo">
                </a>
            </div>

            <!-- 2. Само меню -->
            <div class="nav-reviews__menu" id="reviewsMenu">
                <ul class="nav-reviews__list">
                <li><a href="{% url 'about_us' %}">О нас</a></li>
                <li class="nav-tour__item nav-tour__dropdown">
                        <a href="{% url 'tour' %}" class="nav-tour__link">Туры</a>
                        <ul class="nav-tour__submenu">
                            <li><a href="{% url 'tour' %}">Кыргызстан</a></li>
                            <li><a href="{% url 'kz' %}">Казахстан</a></li>
                            <li><a href="{% url 'uz' %}">Узбекистан</a></li>
                        </ul>
                    </li>
                <li><a href="{% url 'gallery' %}">Галерея</a></li>
                <li><a href="{% url 'blog' %}">Блог</a></li>
                <li><a href="{% url 'partners' %}">Партнёрам</a></li>
                </ul>
            </div>

            <div class="nav-reviews__action">
                <button class="nav-reviews__btn">
                Записаться на тур!
                </button>
                <span class="nav-reviews__lang">En</span>
            </div>
        </nav>
        <div class="long-arrow-black" id="costyl">
            <a href="{% url 'home' %}"><img src="/static/images/bgblarr.png" alt=""></a>
        </div>
        <section class="reviews-hero">
            
            <!-- Хлебные крошки -->
            <div class="reviews-hero__breadcrumb">
                <a href="{% url 'home' %}" class="reviews-hero__link">Главная</a>
                <span class="reviews-hero__sep"><img src="/static/images/lilblarr.png" alt=""></span>
                <span class="reviews-hero__current">Отзывы</span>
            </div>

            <!-- Заголовок-изображение -->
            <div class="reviews-hero__title">
                <h1 class="BigName" id="orangeName">ОТЗЫВЫ</h1>
            </div>
        </section>
    </header>
    <section class="reviews-mosaic">
        <div class="mosaic-gallery">
            <div class="mosaic-item"><img src="{% static 'images/gall1.jpg' %}" alt="Фотография 1"></div>
            <div class="mosaic-item"><img src="{% static 'images/photo_7_2025-09-02_02-10-36.jpg' %}" alt="Фотография 2"></div>
            <div class="mosaic-item"><img src="{% static 'images/photo_10_2025-09-02_03-32-24.jpg' %}" alt="Фотография 3"></div>
            <div class="mosaic-item"><img src="{% static 'images/photo_9_2025-09-02_03-32-24.jpg' %}" alt="Фотография 4"></div>
            <div class="mosaic-item"><img src="{% static 'images/photo_16_2025-09-02_03-32-24.jpg' %}" alt="Фотография 5"></div>
            <div class="mosaic-item"><img src="{% static 'images/photo_18_2025-09-02_03-32-24.jpg' %}" alt="Фотография 6"></div>
            <div class="mosaic-item"><img src="{% static 'images/photo_1_2025-09-02_03-32-24.jpg' %}" alt="Фотография 7"></div>
            <div class="mosaic-item"><img src="{% static 'images/photo_6_2025-09-02_02-10-36.jpg' %}" alt="Фотография 8"></div>
            <div class="mosaic-item"><img src="{% static 'images/photo_5_2025-09-02_03-32-24.jpg' %}" alt="Фотография 7"></div>
            <div class="mosaic-item"><img src="{% static 'images/photo_4_2025-09-02_03-32-24.jpg' %}" alt="Фотография 8"></div>
            <div class="mosaic-item"><img src="{% static 'images/photo_17_2025-09-02_03-32-24.jpg' %}" alt="Фотография 8"></div>
        </div>
    </section>
    <section class="reviews">
            <div class="reviews-header">
                <h2>Отзывы клиентов</h2>
                <button type="button" onclick="window.location.href='/reviews/'">Оставить отзыв</button>
            </div>
            <div class="reviews-carousel">
                <div class="reviews-list" id="reviewsList">
                    <div class="review-card">
                        <div class="revies-back" style="background-image: url('/static/images/otz1.jpg');"></div>
                        <div class="revies-text">
                            <div class="revies-inside">
                                <h3><a href="https://www.instagram.com/nurzhanova_vizazh/">nurzhanova_vizazh</a></h3>
                                <h4 class="orengeText">г. Бишкек</h4>
                            </div>
                            <div class="revies-inside">
                                <p>
                                    Я была Сон-Коль с Лови момент — всё понравилось.
Природа красивая, озеро спокойное, воздух чистый. Без лишнего пафоса — просто приятное место, где можно выдохнуть.

Организация отличная : вовремя выезд, еда была, гиды вежливые. Без напряга, всё по делу.
Если хочется перезагрузиться и немного отдохнуть от города — это хороший вариант. Всем советую поехать именно с Лови момент тревел ❤️☺️
                                </p>
                            </div>
                            <div class="revies-inside">
                                <a href="https://www.instagram.com/p/CyDjIgpshrk/?igsh=MW8xdzE0d2V1Mjgweg%3D%3D" class="orengeText">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="revies-back" style="background-image: url('/static/images/otz2.jpg')"></div>
                        <div class="revies-text">
                            <div class="revies-inside">
                                <h3><a href="https://www.instagram.com/omurbekova____n/">omurbekova____n</a></h3>
                                <h4 class="orengeText">г. Бишкек</h4>
                            </div>
                            <div class="revies-inside">
                                <p>
                         Недавно побывали в туре на озеро Сары-Челек — впечатления просто потрясающие! Это одно из самых красивых мест Кыргызстана, и, пожалуй, один из лучших маршрутов для любителей природы и уединения. Само озеро поразило своей чистотой, глубоким синим цветом и тишиной, которую нарушает только пение птиц и шелест деревьев.

Организация тура была на высшем уровне🔥🔥😍😍: трансфер, размещение, питание — всё продумано до мелочей. Гиды профессиональные и очень дружелюбные, делились интересной информацией о флоре, фауне и истории заповедника. Особенно запомнился поход к смотровой площадке — оттуда открывается захватывающий вид на озеро и горные хребты.

Если вы ищете место, где можно отдохнуть душой, подышать свежим воздухом, отключиться от суеты и насладиться дикой природой — Сары-Челек точно стоит того. Рекомендуем этот тур всем, кто любит горы, озёра и искренние эмоции!
                                </p>
                            </div>
                            <div class="revies-inside">
                                <a href="https://www.instagram.com/p/CyDjIgpshrk/?igsh=MW8xdzE0d2V1Mjgweg%3D%3D" class="orengeText">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="revies-back" style="background-image: url('/static/images/otz3.jpg')"></div>
                        <div class="revies-text">
                            <div class="revies-inside">
                                <h3><a href="https://www.instagram.com/samarabeisheeva/">samarabeisheeva</a></h3>
                                <h4 class="orengeText">г. Бишкек</h4>
                            </div>
                            <div class="revies-inside">
                                <p>
                                    Хочу поделиться впечатлениями о туре Lovi Moment. Туризм очень важен в жизни каждого человека. Моя поездка в Ташкент была незабываемой. Узнала много нового о культуре,посетила множество интересных мест и попробовала местную кухню. Получила массу удовольствия на аттракционах,были также на Magic Safari,посмотрела поющие фонтаны,океанариум,Magic city . Также во время тура были различные конкурсы,из которых мне посчастливилось выиграть приз. В целом,моя поездка в Ташкент была незабываемой . Хочу от всего сердца поблагодарить гидов: Билима и красавицу Лейлу за прекрасное путешествие. Я надеюсь что этот тур не будет последним. ❤️❤️❤️🔥🔥🔥🙌🙌🙌👏👏👏
                                </p>
                            </div>
                            <div class="revies-inside">
                                <a href="https://www.instagram.com/p/CyDjIgpshrk/?igsh=MW8xdzE0d2V1Mjgweg%3D%3D" class="orengeText">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="revies-back" style="background-image: url('/static/images/otz4.jpg')"></div>
                        <div class="revies-text">
                            <div class="revies-inside">
                                <h3><a href="https://www.instagram.com/_monchogum_?igsh=cW5wb2tndWFrdnlo">_monchogum_</a></h3>
                                <h4 class="orengeText">г. Бишкек</h4>
                            </div>
                            <div class="revies-inside">
                                <p>
                                    Бывает порой люди устают. От суеты,повседневности и даже от простой жизни. Нам стоит вырватся из всего этого. В этом нам помог ТУР «Лови момент». Их искренность,простота а главное точность и чистота. В салоне автобусах было чисто. Что очень даже повлияла на меня. Чёткость времени который распределён идеально. Особенно хочуотметить тур-лидера Гузаль эже,которая помогала нам во всём,решила все проблемы несмотря на то что устала. Наверное думаете что многие не замечают.Но нет ваше старание и внимание дала нам чувство безопасности и комфорта. И отель превзащёл все ожидания. Благодарю вас за прекрасный день который,насыщенный новыми заниями и незабываемыми эмоциями🙌❤️
                                </p>
                            </div>
                            <div class="revies-inside">
                                <a href="https://www.instagram.com/p/CyDjIgpshrk/?igsh=MW8xdzE0d2V1Mjgweg%3D%3D" class="orengeText">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="revies-back" style="background-image: url('/static/images/otz5.jpg')"></div>
                        <div class="revies-text">
                            <div class="revies-inside">
                                <h3><a href="https://www.instagram.com/i.tyuiop?igsh=MW9lenkxZHhlYnp3Ng==">i.tyuiop</a></h3>
                                <h4 class="orengeText">г. Бишкек</h4>
                            </div>
                            <div class="revies-inside">
                                <p>
                                    Всем привет! Меня зовут Алтынбек, мне пять лет! Сегодня я был в туре от Lovi Moment вместе с моей семьёй — это было моё первое настоящее путешествие в такие далекие края, и я немного волновался…

Сначала я был немножко капризный (ну, совсем чуть-чуть!) и всё время говорил: «Поехали обратно!»
Мы ехали в спальном автобусе, и, кажется, я мешал людям спать… Потому что мне не хотелось лежать — я прыгал, шептал, крутился и один раз даже сказал вслух: «А мы уже приехали?!» 🤭
Если кто-то из вас это читает — простите, пожалуйста! Я просто очень волновался!

А потом мы спустились в метро — и я такой:
«Ничего себе! Это что, поезд снизу?!» 😂
Там так шумело, и всё ехало быстро — громком тоннеле для взрослых!. 🙃

А ещё была река такая большая, как будто море убежало в город! Я даже сказал: «Можно я тут поплаваю немного?» — но мне сказали: «Нет, Алтынбек, тут глубоко!» 😆
                                </p>
                            </div>
                            <div class="revies-inside">
                                <a href="https://www.instagram.com/p/CyDjIgpshrk/?igsh=MW8xdzE0d2V1Mjgweg%3D%3D" class="orengeText">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="revies-back" style="background-image: url('/static/images/otz6.jpg')"></div>
                        <div class="revies-text">
                            <div class="revies-inside">
                                <h3><a href="https://www.instagram.com/zareemkas/">zareemkas</a></h3>
                                <h4 class="orengeText">г. Бишкек</h4>
                            </div>
                            <div class="revies-inside">
                                <p>
                                   Здравствуйте! Хотели выразить огромную благодарность вашей компании за такую возможность увидеть Узбекстан-Ташкент, Мы с мамой втроем долго выбирали и выбрали Лови момент,нас изначально в офисе подробно проконсультировали не оставляя никаких у нас вопросов ☺️ Организация супер🔥Так же день в день нас встретили в назначенное время и день, добрались в очень удобных автобусах) успели отлично выспаться. Везде встречают,провожают нам остается только спокойно отдыхать😍🥰Отдельная благодарность гидам Айканыши кажется Лейла) Рассказали и показали нам обо всем, показали достопримечательности Ташкента,рассказали их историю происхождения ) Также заселили нас в отличный отель со всеми удобствами 💯Отдых проходит замечательно, много ярких эмоций😍
И впредь однозначно будем выбирать Лови момент и советовать близким ❤️
                                </p>
                            </div>
                            <div class="revies-inside">
                                <a href="https://www.instagram.com/p/CyDjIgpshrk/?igsh=MW8xdzE0d2V1Mjgweg%3D%3D" class="orengeText">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="revies-back" style="background-image: url('/static/images/otz7.jpg')"></div>
                        <div class="revies-text">
                            <div class="revies-inside">
                                <h3><a href="https://www.instagram.com/saidatabaeva970/">saidatabaeva970</a></h3>
                                <h4 class="orengeText">г. Бишкек</h4>
                            </div>
                            <div class="revies-inside">
                                <p>
                                    Добрый день всем. Хотелось провести необычно день рождения,и мы обратились в турфирму Lovi Moment TRAVEL, непосредственно к менеджеру Нуржамал. Она тепло встретила нас, рассказала о ньюансах поездки и согласовала дату. В поездке мы познакомились с гидом Назик. Которая оказалась очень внимательной и доброжелательной. Отдых проходит на высшем уровне,о котором можно рассказывать часами. Мы отдыхаем и заряжаемся энергией до следующего путешествия. Всем рекомендуем турфирму Lovi Moment TRAVEL 🔥🔥🔥
                                </p>
                            </div>
                            <div class="revies-inside">
                                <a href="https://www.instagram.com/p/CyDjIgpshrk/?igsh=MW8xdzE0d2V1Mjgweg%3D%3D" class="orengeText">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="revies-back" style="background-image: url('/static/images/otz8.jpg')"></div>
                        <div class="revies-text">
                            <div class="revies-inside">
                                <h3><a href="https://www.instagram.com/kosma1212/">kosma1212</a></h3>
                                <h4 class="orengeText">г. Бишкек</h4>
                            </div>
                            <div class="revies-inside">
                                <p>
                                  Хочу выразить огромную благодарность туристической компании Lovi Moment Travel и особенно очаровательному организатору Назик за незабываемое путешествие в Ташкент, Узбекистан! Это путешествие останется в моей памяти на долгое время, и, вспоминая его, не могу удержаться от мысли: "Почему бы не повторить его снова?" Ведь путешествие — это не просто передвижение, а целый калейдоскоп эмоций и приключений. А с Lovi Moment Travel эти эмоции становятся ярче, насыщеннее, а каждый момент хочется пережить заново.
Назик была не только профессионалом своего дела, но и невероятно душевным человеком, который сделал наш тур не просто комфортным, но и по-настоящему увлекательным. Впечатления от путешествия такие яркие, что с нетерпением жду следующего тура с этой замечательной компанией!
Благодарю за незабываемые впечатления, и обязательно буду путешествовать с вами снова!
                                </p>
                            </div>
                            <div class="revies-inside">
                                <a href="https://www.instagram.com/p/CyDjIgpshrk/?igsh=MW8xdzE0d2V1Mjgweg%3D%3D" class="orengeText">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="revies-back" style="background-image: url('/static/images/otz3.jpg')"></div>
                        <div class="revies-text">
                            <div class="revies-inside">
                                <h3><a href="https://www.instagram.com/jyldyz505/">jyldyz505</a></h3>
                                <h4 class="orengeText">г. Бишкек</h4>
                            </div>
                            <div class="revies-inside">
                                <p>
                                   Хочется поделиться впечатлениями о туристической компании «Лови момент»! Мы ездили с ними в Алматы на концерт Дженнифер Лопес и остались в полном восторге. Несмотря на короткий двухдневный тур, мы получили максимум эмоций! Концерт прошёл просто шикарно, а сотрудники компании позаботились о каждом нюансе. Нас разместили в отличном отеле, возили в самые интересные места и вкусно кормили. Такое внимание и забота со стороны компании для нас были очень важны. Огромное спасибо за профессионализм! ❤️❤️❤️
                                </p>
                            </div>
                            <div class="revies-inside">
                                <a href="https://www.instagram.com/p/CyDjIgpshrk/?igsh=MW8xdzE0d2V1Mjgweg%3D%3D" class="orengeText">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="revies-back" style="background-image: url('/static/images/pm3.png')"></div>
                        <div class="revies-text">
                            <div class="revies-inside">
                                <h3><a href="https://www.instagram.com/adilya.alieva/">adilya.alieva</a></h3>
                                <h4 class="orengeText">г. Бишкек</h4>
                            </div>
                            <div class="revies-inside">
                                <p>
                                    Тур Ташкент – Самарканд был просто сказкой! Красивые места, вкусная еда и море эмоций ❤️
Ташкент-современный, зеленый и гостеприимный город, где сочетаются традиции и динамичная жизнь.Самарканд-величественный город с богатой историей и неповторимой атмосферой, настоящий музей под открытым небом.
Организация на высшем уровне, всё продумано до мелочей. Хочется вернуться снова!
Особенная благодарность Билиму 👏
                                </p>
                            </div>
                            <div class="revies-inside">
                                <a href="https://www.instagram.com/p/CyDjIgpshrk/?igsh=MW8xdzE0d2V1Mjgweg%3D%3D" class="orengeText">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews-controls">
                    <button id="prevReview" class="reviews-arrow">
                        <img src="/static/images/arrowsLeft.png" alt="">
                    </button>
                    <button id="nextReview" class="reviews-arrow">
                        <img src="/static/images/strelki.png" alt="">
                    </button>
                </div>
            </div>
            
        </section>
        <footer class="footer">
            <div class="footer-inner">
                <div class="footer-col logo-col">
                    <img src="{% static 'images/Lovi Moment logo-1.png' %}" alt="Lovi Moment Travel" class="footer-logo" />
                </div>

                <div class="footer-col">
                    <h4>Главная</h4>
                    <ul>
                        <li><a href="{% url 'about_us' %}">О нас</a></li>
                        <li><a href="{% url 'blog' %}">Блог о Кыргызстане</a></li>
                        <li><a href="{% url 'corp_tour' %}">Корпоративные туры</a></li>
                        <li><a href="{% url 'indi_tour' %}">Индивидуальные туры</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                <h4>Туры</h4>
                    <ul>
                        <li><a href="{% url 'tour' %}">Кыргызстан</a></li>
                        <li><a href="{% url 'kz' %}">Казахстан</a></li>
                        <li><a href="{% url 'uz' %}">Узбекистан</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>По другим вопросам</h4>
                    <p>+996 503 904 904 </p>
                    <p>+996 705 904 904 </p>
                    <p>+996 508 904 904 </p>
                    <p>+996 505 904 904 </p>
                    <button class="footer-btn"><a href="{% url 'sign_tour' %}">Записаться на тур! </a></button>
                </div>

                <div class="footer-col address">
                    <h4>Адрес</h4>
                    <p>ул. Калык Акиева 66,<br> ТЦ Весна, 3 этаж  С13А</p>
                    <p><a  class="wattspp" href="https://wa.me/996505904904"><img src="/static/images/free-icon-logo-15713434.png" alt="" style="width: 32px; height: 32px;">996 505 904 904</a></p>

                    <p ><a class="instS" href="https://www.instagram.com/lovimoment_travel/"><img src="" alt=""><img src="/static/images/inst.png" alt="">@lovimoment_travel</a></p>
                </div>
            </div>
        </footer>
</body>
<script>
    // бургер
    document.addEventListener('DOMContentLoaded', () => {
                const toggle = document.querySelector('.nav-reviews__toggle');
                const menu   = document.getElementById('reviewsMenu');
                const tourItem = document.querySelector('.nav-reviews__dropdown');

                // Открытие/закрытие основного меню
                toggle.addEventListener('click', e => {
                e.stopPropagation();
                menu.classList.toggle('open');
                });

                // Подменю «Туры» кликом (для mobile)
                tourItem.addEventListener('click', e => {
                if (window.innerWidth <= 480) {
                    e.preventDefault();
                    tourItem.classList.toggle('open');
                }
                });

                // Клик вне — закрыть всё
                document.addEventListener('click', e => {
                if (!e.target.closest('.nav-reviews')) {
                    menu.classList.remove('open');
                    tourItem.classList.remove('open');
                }
                });
            });
    // ==================================
    document.addEventListener('DOMContentLoaded', () => {
        const track     = document.getElementById('reviewsList');
        const prevBtn   = document.getElementById('prevReview');
        const nextBtn   = document.getElementById('nextReview');
        const cards     = Array.from(track.querySelectorAll('.review-card'));
        const cardWidth = cards[0].offsetWidth;
        const gap       = parseInt(getComputedStyle(track).gap) || 0;
        const step      = cardWidth + gap;

        prevBtn.addEventListener('click', () => {
            track.scrollBy({ left: -step, behavior: 'smooth' });
        });
        nextBtn.addEventListener('click', () => {
            track.scrollBy({ left: step, behavior: 'smooth' });
        });
    });

</script>
</html>